body {
  background-color: rgb(235, 233, 233);
  transition: all 0.5s;
}

body .dark-mode {
  background-color: rgb(83, 83, 83);
  transition: all 0.5s;
}

.header {
  color: white;
  text-align: center;
  background-color: #3b5998;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  padding-top: 15px;
  padding-right: 25px;
  padding-bottom: 15px;
  padding-left: 25px;
  transition: all 0.5s;
}

.main-contents {
  margin-top: 5px;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
  width: 300px;
}

#comment {
  width: 300px;
  resize: none;
}

#emoji {
  width: 150px;
}

#button {
  display: inline;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.dark-mode-checkbox {
  display: block;
  text-align: center;
}

.post {
  background-color: rgb(251, 251, 251);
  color: black;
  border-radius: 15px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  padding-top: 15px;
  padding-right: 25px;
  padding-bottom: 15px;
  padding-left: 25px;
  transition: all 0.5s;
}

.dark-mode {
  background-color: rgb(46, 46, 46);
  color: aliceblue;
  transition: all 0.5s;
}

.friend {
  text-align: right;
  color: rgb(181, 181, 181);
  font-weight: 600;
  transition: all 0.5s;
}

img {
  display: block;
  margin: auto;
  transition: all 0.5s;
}

.feeling {
  display: block;
  color: #3b5998;
  transition: all 0.5s;
}

.timeStamp {
  color: gray;
  font-size: 50%;
  transition: all 0.5s;
}

.form {
  margin-top: 5px;
  text-align: center;
}

.form-box {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#name {
  text-align: center;
  display: none;
}
