body {
  background-color: rgb(235, 233, 233);
  transition: all 0.5s;
}

body .dark-mode {
  background-color: rgb(83, 83, 83);
  color: #c8c8c8;
  transition: all 0.5s;
}

.header {
  /* ヘッダー固定 */
  position: fixed;
  left: 50%;
  top: 80px;
  margin-top: 0;
  z-index: 100;
  transform: translateX(-50%) translateY(-50%);
  color: white;
  text-align: center;
  background-color: #3b5998;
  width: 500px;
  padding-top: 15px;
  padding-right: 25px;
  padding-bottom: 15px;
  padding-left: 25px;
  transition: all 0.5s;
}

.header.dark-mode {
  background-color: #162036;
}

.headerB {
  z-index: -2;
  height: 150px;
  width: 500px;
  color: rgba(255, 255, 255, 0);
  text-align: center;
  background-color: #3b589800;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
  padding-right: 25px;
  padding-bottom: 15px;
  padding-left: 25px;
  transition: all 0.5s;
}

.headerT {
  /* ヘッダー固定 */
  z-index: -1;
  position: fixed;
  left: 50%;
  top: 1%;
  transform: translateX(-50%) translateY(-50%);
  color: white;
  text-align: center;
  background-color: rgb(235, 233, 233);
  width: 500px;
  padding-top: 0px;
  padding-right: 25px;
  padding-bottom: 15px;
  padding-left: 25px;
  transition: all 0.5s;
}

.main-contents {
  margin-top: 5px;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
  width: 300px;
}

#comment {
  width: 300px;
  resize: none;
}

#emoji {
  width: 150px;
}

#button {
  display: inline;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.dark-mode-checkbox {
  display: block;
  text-align: center;
}

.post {
  background-color: rgb(251, 251, 251);
  color: black;
  border-radius: 15px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  padding-top: 15px;
  padding-right: 25px;
  padding-bottom: 15px;
  padding-left: 25px;
  transition: all 0.5s;
}

.dark-mode {
  background-color: rgb(46, 46, 46);
  color: aliceblue;
  transition: all 0.5s;
}

.friend {
  text-align: right;
  color: rgb(181, 181, 181);
  font-weight: 600;
  transition: all 0.5s;
}

img {
  display: block;
  margin: auto;
  transition: all 0.5s;
}

.feeling {
  display: block;
  color: #3b5998;
  transition: all 0.5s;
}

.feeling.dark-mode {
  color: #97a8cb;
}

.timeStamp {
  color: gray;
  font-size: 50%;
  transition: all 0.5s;
}

.form {
  margin-top: 5px;
  text-align: center;
  transition: 0.5s;
}

.form-box {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#name {
  text-align: center;
  display: none;
}

.fixed_btn {
  position: fixed;
  bottom: 10px;
  right: 50px;
  bottom: 30px;
  padding: 12px 15px;
  border-radius: 50%;
  color: #ffffff;
  border-color: #3b589800;
  background-color: #3b5998;
  transition: all 0.5s;
}

.fixed_btn.dark-mode {
  background-color: #162036;
}

.go-to-top {
  display: block;
  margin: auto;
  margin-top: 15px;
  padding: 10px 15px;
  border-radius: 50%;
  color: #ffffff;
  border-color: #3b589800;
  background-color: #82868e;
  transition: 0.5s;
}

.go-to-top:hover {
  cursor: pointer;
  background-color: #3b5998;
  transition: 0.5s;
}

.go-to-top.dark-mode:hover {
  background-color: #162036;
}

/* ポップアップ */
#popup-wrapper {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 200;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

#popup-inside {
  width: 100%;
  max-width: 300px;
  background: white;
  margin: 10% auto;
  padding: 20px;
  position: relative;
  border-radius: 20px;
}

#close {
  position: absolute;
  top: 5px;
  right: 20px;
  cursor: pointer;
  font-size: large;
}

.dark-mode-checkbox {
  display: flex;
  z-index: 0;
  align-items: center;
  position: relative;
  margin: auto;
  width: 100px;
  height: 50px;
  border-radius: 50px;
  box-sizing: content-box;
  background-color: #f5da5233;
  cursor: pointer;
  transition: background-color 0.4s;
}

.dark-mode-checkbox:has(:checked) {
  background-color: #8c8c8c33;
}

.dark-mode-checkbox::before {
  position: absolute;
  left: 5px;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: #f5da52;
  content: "";
  transition: left 0.4s;
}

.dark-mode-checkbox:has(:checked)::before {
  left: 50px;
  background-color: #8c8c8c;
}

.dark-mode-checkbox::after {
  position: absolute;
  left: 26px;
  transform: translateX(-50%);
  color: #fff;
  font-weight: 600;
  font-size: 0.9em;
  content: "💡";
  transition: left 0.4s;
}

.dark-mode-checkbox:has(:checked)::after {
  left: 71px;
  content: "🌙";
}

.dark-mode-checkbox input {
  display: none;
}
